.App__Grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 50px;
    width: 100%;
  }

  @media only screen and (max-width: 500px) {
    .App__Grid {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    img {
      width: 20px;
    }
  }