.App__Title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px;
    font-family: 'Carter One', cursive;
    font-size: 4rem;
    color: black;
}

.App__Title--Decor {
    -webkit-text-stroke: 3px black;
	-webkit-text-fill-color: white;
}

.App__SearchBar {
    position: relative;
    display: grid;
    grid-template-columns: auto 150px;
    grid-template-rows: 1fr;
    margin: 50px auto;
}

.App__SearchBar button {
    width: 100%;
    padding: 25px;
    border: none;
    font-size: 3rem;
    background: none;
    cursor: pointer;
    transition: 0.2s ease-out transform;
}

.App__SearchBar button:hover { transform: scale(1.2)}

.App__SearchBar input {
    padding: 25px;
    border: none;
    background-color: rgb(250, 250, 250);
    font-size: 2rem;
}

.App__SearchBar input, .App__SearchBar button, .App__SearchBar__Hints { font-family: 'Carter One', cursive;}

.App__SearchBar__Hints {
    position: absolute;
    top: 100%;
    width: 100%;
    background: white;
    color: grey;
}

.App__SearchBar__Hints__Elem {
    padding: 25px;
    font-size: 2rem;
    border-bottom: 3px dashed grey;
}

@media only screen and (max-width: 750px) {
    .App__Title {
        margin: 75px;
    }
}

@media only screen and (max-width: 500px) {
    .App__Title {
        margin: 20px;
        font-size: 2rem;
    }

    .App__Title--Decor {
        -webkit-text-stroke: 1px black;
        -webkit-text-fill-color: white;
    }
    
    .App__SearchBar {
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr;
        margin: 25px auto;
    }

    .App__SearchBar input, .App__SearchBar button {
        font-size: 1rem;
    }
}